@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import "reset.css";
@import "variables.css";

/* components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/alt-screen-header.css";
@import "components/only-mobile.css";

/* screen */
@import "screen/login.css";
@import "screen/friends.css";
@import "screen/find.css";
@import "screen/more.css";
@import "screen/setting.css";
@import "screen/chat.css";

body {
  font-family: "Open Sans", sans-serif;
  color: #2e363e;
}

.main-screen {
  padding: 0 var(--horizontal-space);
}
