#friends-display-link {
  text-align: center;
  display: block;
  background-color: rgba(167, 165, 165, 0.1);
  padding: 15px 0;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: -15px;
}

#friends-display-link > i {
  color: rgba(0, 0, 0, 0.3);
}

.friends-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
}

.friends-screen {
  padding: 0 var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: 20px;
  border-top: var(--border-color);
  padding-top: 15px;
}

@keyframes splash-screen_animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: var(--yellow);
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 132px;
  animation: splash-screen_animation 0.3s ease-in-out forwards;
  animation-delay: 1s;
}
