.settings__setting {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  font-size: 18px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.settings__setting > i {
  margin-right: 20px;
}

.settings__setting > .settings__setting-column:last-child {
  opacity: 0.8;
}
