.nav {
  background-color: #f9f9fa;
  padding: 20px 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  position: fixed;
  bottom: 0px;
  width: 100%;
  box-sizing: border-box;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
  color: rgba(0, 0, 0, 0.7);
}

@keyframes notificationAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: none;
  }
}

.nav-notification {
  position: absolute;
  bottom: 15px;
  left: 15px;
  animation: notificationAnimation 1.5s ease-in-out infinite;
}

@keyframes btnAnimation {
  from {
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.nav__btn {
  opacity: 0;
  animation: btnAnimation 0.5s ease-in-out forwards;
}

.nav__btn:nth-child(2) {
  animation-delay: 0.1s;
}

.nav__btn:nth-child(3) {
  animation-delay: 0.2s;
}

.nav__btn:nth-child(4) {
  animation-delay: 0.3s;
}
