.user-component {
  display: flex;
  align-items: center;
}

.user-component__column {
  display: flex;
  align-items: center;
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 27px;
  margin-right: 20px;
}

.user-component__avatar--xl {
  width: 80px;
  height: 80px;
}

.user-component__title {
  font-size: 22px;
  font-weight: 600;
}

.user-component__subtitle {
  margin-top: 8px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
}

.friends-screen {
  padding: 0 var(--horizontal-space);
}
