.user-component {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 27px;
  margin-right: 20px;
}

.user-component__avatar--xl {
  width: 80px;
  height: 80px;
}

.user-component__title {
  font-size: 22px;
  font-weight: 600;
}

.user-component__subtitle {
  margin-top: 8px;
  font-weight: 600;
  color: var(--main-font-color);
}

.user-component__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 25px;
}

.user-component__column:last-child {
  color: var(--main-font-color);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component__time {
  margin-bottom: 10px;
}
